<html>  
<body>  
<form method="POST">  
 <input type="text" name="num1">   
 <input type="text" name="num2">  <br> <br>
<button type="submit" formaction="/add"> add</button>
<button type="submit" formaction="/sub"> sub</button>
<button type="submit" formaction="/multiply"> multiply</button>
<button type="submit" formaction="/divide"> divide</button>

</form> 

</body>  
</html>